@import "reset.scss";
@import "burger.scss";


$desktop: "(max-width: 768px)";
$mobile: "(max-width: 414px)";

/*///////////general//////////////*/
body {
  font-family: 'Noto Serif', serif;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.invisible {
    transition: opacity 1s ease;
    opacity: 0.0;
}

.visible {
    transition: opacity 1s ease;
    opacity: 1.0;
}


// movie header

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*koniec movie*/


.show_menu {
display:inline-block;
  ul li{
  width: 100%;
  }
}

nav {
  position: fixed;
  width: 60px;
  top:0;
  left:0;
  z-index: 4;
  background-color: rgba(172,180,183, 0.9);
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
      @media #{$mobile} {
      display: block;
    }
  ul {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 52px;
    max-width: 800px;
    width: 100%;
      @media #{$mobile} {
      display: none;
    }
    li {
      width: 20%;      
        @media #{$mobile} {
        width: 100%;
    }
      display: flex;
      justify-content: center;
      
    a {
      text-align: center;
      width: 100%;
      color:white;
      text-decoration: none;
      }
      &:hover {
        background-color:#0d1c27;
        transition: 1s;
      }
    }
  
}
}

.head_container {
  opacity: 0.6;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;
  background-image: url("../images/slowinscy_header.png");
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  h1 {
    font-size: 4em;
    }
  p {
    font-size: 2em;

  }
}


.about_container{
  padding-top: 50px;
        @media #{$mobile} {
        padding-top: 80px;

      }
  margin-top: 4em;
  margin-bottom: 6em;
  line-height: 1.7em;
  text-align: center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;
  width: 100%;
  min-height: 50vh;

}
.about_border{

      @media #{$mobile} {
      border: none;
    }
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;
  width: 100%;
  min-height: 40vh;
  color: black;
  flex-wrap: wrap;
  max-width: 1024px;
  h1 {
    font-size: 3em;
    font-weight : bold;
    background-color: white;
    margin-top: -52px;
    width: 350px;
    padding: 1em 0 1.5em 0;
    }
  p {
    font-size: 1.3em;
    padding: 1em 2em 1em 2em;
    font-style: italic;

  }
}

.production {
  display: flex;
  justify-content: center;  
  align-items: center;
  opacity: 0.7;
  background-color:grey;

}

.production_container{
  margin-top: 2em;
  line-height: 1.7em;
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 1024;
  min-height: 80vh;

}
.production_border{
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;
  width: 100%;
  min-height: 70vh;
  color: black;
  flex-wrap: wrap;
  max-width: 1024px;
  min-height:250px;
  color:white;
  position: relative;
  h1 {
    font-size: 3em;
    font-weight : bold;
    margin-top: -60px;
    padding: 1em 0 1.5em 0;
    }
  p {
    font-size: 1.3em;
    padding: 0 2em 1em 2em;
    font-style: italic;
  }
}

@media (min-width : 250px) and (max-width : 1024px) {
.border1 {
  display: none;
  }
  .border2 {
  display: none;
  }
  .production_border {
    border: none;  
  }
  .invisible {
    opacity: 1;
  }
  .visible {
    opacity: 1.0;
  }
}

.offer {
  display: flex;
  background-size: cover;
  justify-content: center;  
  align-items: center;
}

.offer_container{ 
  padding-top: 54px;
        @media #{$mobile} {
        padding-top: 80px;
      }
  margin-top: 4em;
  margin-bottom: 2em;
  line-height: 1.7em;
  text-align: center;
/*  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;*/
  max-width: 1024px;
  width: 100%;
  min-height: 45vh;
}

/*//offer divs*/

.all_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box1 {
  box-sizing:border-box;
  width: 250px;
  height: 250px;
  background-color: grey;
  margin: 0.3em;
  text-align: center;
  h1 {
    font-size: 3em;
    padding-top: 45%;
    color: white;
  }
}

.offer_box {
  box-sizing:border-box;
  width: 250px;
  height: 250px;
  background-color: #d4d4d4;
  margin: 0.3em;
  text-align: center;
  color: white;
  p {
    padding-top: 45%;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 1.3em;
  }
  h1 {
    font-size: 3em;
    padding-top: 45%;
  }
}

.offer_box2 {
  color: white;
  opacity: 0.7;
  background-color:grey;
  transition: 0.3s;
  background-image: url("../images/puhslowinscy_01.png");
  &:hover {
    background-image: none;
    background-color: white;
    color: black;
  }
}

.offer_box3 {
  color: white;
  opacity: 0.7;
  background-color:grey;
  transition: 0.3s;
  background-image: url("../images/puhslowinscy_01.png");
  &:hover {
    background-image: none;
    background-color: white;
    color: black;
  }
}

.offer_box4 {
  color: white;
  opacity: 0.7;
  background-color:grey;
  transition: 0.3s;
  background-image: url("../images/puhslowinscy_01.png");
  &:hover {
    background-image: none;
    background-color: white;
    color: black;
  }
}

.offer_box5 {
  color: white;
  opacity: 0.7;
  background-color:grey;
  transition: 0.3s;
  background-image: url("../images/puhslowinscy_01.png");
  &:hover {
    background-image: none;
    background-color: white;
    color: black;
  }
}

.offer_box6 {
  color: white;
  opacity: 0.7;
  background-color:grey;
  transition: 0.3s;
  background-image: url("../images/puhslowinscy_01.png");
  &:hover {
    background-image: none;
    background-color: white;
    color: black;
  }
}

.tradition_container{
  opacity: 0.7;
  margin-top: 4em;
  margin-bottom: 2em;
  line-height: 1.7em;
  text-align: center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;

}
.tradition_border{
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;
  color: black;
  max-width: 800px;
  max-height:100vh;


  ul {
    display: inherit;
    padding: 0 2em 1em 2em;
    }
  img {
    width: 98%;

    }
  p {
    font-size: 1em;
    padding: 1em 2em 0 2em;
    font-style: italic;

  }
}




.contact_container{
  padding-top: 50px;
          @media #{$mobile} {
        padding-top: 80px;
      }
  margin-top: 4em;
  margin-bottom: 2em;
  line-height: 1.7em;
  text-align: center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 50vh;

}
.contact_border{
      @media #{$mobile} {
      border: none;
    }
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 50vh;
  color: black;
  flex-wrap: wrap;
  max-width: 800px;
  max-height:300px;
  h1 {
    font-size: 2em;
    font-weight : bold;
    margin-top: -50px;
    width: 350px;
    background-color:white;
    }
  a {
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    &:nth-child(3){
      color: white;
      min-width: 30%;
      height: 2em;
      background-color:#0d1c27;
      opacity: 0.9;
    }
  }
}


footer {
  margin-top: 50px;
display: flex;
font-family: 'Noto Serif', serif;
font-size: 1em;
color: white;
width: 100%;
height:10vh;
background-color: black;
opacity:0.9;
justify-content: center;  
align-items: center;  

}

footer {
  background-color: #0d1c27;
  min-height: 20vh;
  height: 100%;
}

.footer_container {
  max-width: 800px;
  width:  100%;
  display:  flex;
  justify-content:  space-between;
  flex-direction: column;
  line-height:  1.7em;
}

.footer_address {
  display: flex;
  justify-content: center;
    p {
   padding: 0 2em 1em 2em;


  }
}

a[href^="mailto:"] {
  color: #acb4b7;
  text-decoration: none;
}

a[href^="tel:"] {
  color: #acb4b7;
  text-decoration: none;
}


.footer_export {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding: 1.5em 0;
  flex-wrap: wrap;
  p {
   padding: 1em 2em 0 1em;
  }
}


// kontakt form

#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color: #0d1c27;
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 665px;
  // float: left;
  // left: 50%;
  // position: absolute;
  margin-top:30px;
  // margin-left: -260px;
  // -moz-border-radius: 7px;
  // -webkit-border-radius: 7px;
  margin: 0 auto;
}

.feedback-input {
  color:#3c3c3c;
 font-family: 'Noto Serif', serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #acb4b7;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
 font-family: 'Noto Serif', serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #acb4b7;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}